# node
dist
node_modules
npm-debug.log
yarn-error.log

# intellij
.idea

# project
poe2-trade-butler.zip

# Ignore generated release notes
release_notes_*.md

# Ignore schema json files
SimplifiedFolder.schema.json