#poe2-sidebar {
    position: fixed;
    top: 80px;
    bottom: 20px;
    right: 0;
    width: 300px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    transition: transform 0.35s ease-in-out;
    max-height: calc(100vh - 20px);
    border-radius: 10px 0 0 10px;
    will-change: transform;
}


#poe2-sidebar.collapsed {
    transform: translateX(100%);
}

#poe2-content-wrapper {
    transition: padding 0.3s ease-in-out;
    padding-right: 300px;
}

#poe2-content-wrapper.collapsed {
    padding-right: 0;
}

#poe2-sidebar-toggle-button {
    position: absolute;
    top: 10px;
    left: -40px;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    z-index: 10001;
}

.transition-toggle-button {
    transition: right 0.3s ease-in-out;
}

.poe2-toggle-button:hover {
    background-color: #666;
}


#sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-header-title {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    color: #d7c185;
    text-shadow:
            1px 1px 0 #000,
            2px 2px 2px #000,
            0 0 5px #a97c50;
    text-transform: uppercase;
}


#sidebar-header h2 {
    margin: 0;
}

#sidebar-header button {
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#sidebar-header button:hover {
    background-color: #666;
}

/* Sidebar menu */
#sidebar-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.menu-tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    transition: background-color 0.2s ease-in-out;
}

.menu-tab.active {
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-tab:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Sidebar content */
#sidebar-content {
    padding: 10px;
}

#sidebar-content h3 {
    display: flex;
    /*좌로 정렬*/
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

/* Favorite button */
#add-favorite {
    background-color: #007bff; /* 버튼 배경색 */
    color: white; /* 텍스트 색상 */
    border: none; /* 테두리 제거 */
    padding: 5px 5px; /* 내부 여백 */
    font-size: 10px; /* 글꼴 크기 */
    border-radius: 5px; /* 둥근 모서리 */
    cursor: pointer; /* 클릭 가능한 커서 */
    transition: background-color 0.3s ease, transform 0.2s ease; /* 애니메이션 효과 */
    margin-bottom: 10px; /* 아래쪽 간격 */
}

#add-favorite:hover {
    background-color: #0056b3; /* 호버 시 색상 */
    transform: scale(1.05); /* 약간 확대 효과 */
}

#add-favorite:active {
    background-color: #003f7f; /* 클릭 시 색상 */
    transform: scale(0.95); /* 클릭 시 약간 축소 */
}

#favorites h3 > * {
    margin-right: 10px; /* 버튼/제목 간 여백 */
}



.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* History item */
.history-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer; /* 마우스 커서 변경 */
    transition: background-color 0.2s ease-in-out;
}

.history-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.history-info {
    flex: 1;
    padding-left: 10px;
}

/* Favorite star */
.favorite-star {
    font-size: 25px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.1);
    transition: color 0.2s ease-in-out;
}

.favorite-star:hover {
    color: rgba(255, 255, 255, 1);
}

.favorite-star.active {
    color: gold;
}

.favorite-star.active:hover {
    color: gold;
}

/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-left: 10px;
}

.switch input {
    display: none; /* 기본 체크박스 숨기기 */
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007bff;
}

input:checked + .slider:before {
    transform: translateX(14px);
}
